@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');

*{
    margin: 0;
    padding: 0;
}

.sidebar{
    background-color: gray;
    width:334px;
    font-family: 'Moon Dance', cursive;
    height: 100vh;
}

.sidebar nav {
    padding: 45px ;
    

}

.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding: 23px 0;
}

.sidebar nav li a{
    text-decoration: none;
    color:black;
    font-weight: 500;
}

.main{
    background-color: skyblue;
    width:85vw;
      
}


.container{
    display:flex;
    
}
.infoContainer{
    
    height: 65vh;
    width: 82vh;
    margin: 127px auto;
    display: flex;
    justify-content:space-around;
}


.pic img{
    width: 300px;
    height: 25vh;
    
}

.hello{
font-size: 40px;
font-family: Arial, Helvetica, sans-serif;
}

.name{
font-size: 65px;
font-weight: 300;
font-family: fantasy;
}

.about{
font-size: 25px;
font-family: Georgia, 'Times New Roman', Times, serif;
}

.moreabout{
font-size: 20px;
font-family: cursive;
}
.buttons button{
    margin-top: 24px;
    margin-right: 10px;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color:rgb(245, 120, 120);
    font-weight: bold;
    cursor: pointer;
}

.buttons button:hover{
    background-color: wheat;
}